@mixin layout {
  width: 100%;
  margin: auto;
  padding: 6rem 0;
}

@mixin title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 70px;
  line-height: 75px;
  font-weight: 700;
  color: $black;
}

@mixin number {
  font-family: 'proxima-nova', sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color: $black;
}

@mixin sm-title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: $gray;
  cursor: pointer;
}

@mixin brand-title {
  font-family: 'proxima-nova', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.003em;
  text-align: left;
  text-transform: uppercase;
  color: #9ea6ae;
}

@mixin text {
  font-family: 'proxima-nova', sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: $black;
}

@mixin displayBlack {
  display: block;
}

@mixin flex-between {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

@mixin tabs-titles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1128px;
  width: 1124px;
  margin: auto;
  padding: 0px;
}
